@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: arial;
}

h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin: 0;
    padding: 0;
}



section{
    height: 100vh;   
}


section .form-input input{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    border: 1px solid #888;
    padding-left: 20px;
}

section .form-input .passwordtoggler{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


section .form-input .passwordToggler{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

section .form-input .passwordToggler.show{
    opacity: 1;
    visibility: visible;
}



.cursor{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform:translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;

}


.cursorsm{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform:translate(-50%, -50%);
    transition: 0.o3s;
    z-index: 999;
    pointer-events: none;

}